extends layout


block content
  h1= title
  p This is Daleske's website #{title}
  
  div(class="container-fluid")
  -var results = results
  div(class="row")
  each item in results
    -let destination = `dispatch(\"/drinks/update/?id=${item._id}\")`
    div(class="col-sm-2", class="m-l") Item #{item.drink_name}(#{item.drink_flavor}) is #{item.drink_cost}
      button.btn(class="btn-primary ml-l", onclick = destination) Update 
    
  script. 
    function dispatch(path){
      window.location.href=path
    }